.container-html{
    /* border: solid blue 1px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.container-carrito{
    background-color: #03045e;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
    border: white 10px;
}


.card{
    font-family: 'Open Sans', sans-serif;
    margin: 30px;
    width: 450px;   
    background-color: rgb(161, 187, 202);
    border: 1px solid black;
    border-radius: 1%;
    justify-content: center;
    padding-bottom: 15px;
    padding-left: 15px;

}

.imagenes{
    width: 300px;
    height: 300px;
    border: solid rgb(87, 83, 83);
    border-radius: 5%;
    border-style: outset;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("./img/fondo.jpg");
    position: relative;
    height: 100%;
}


.swiper {
    width: 99%;
    height: 100%;
    /* border: solid black 1px; */
    -webkit-box-shadow: 10px 10px 12px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 12px 4px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 12px 4px rgba(0,0,0,0.75);
    margin-bottom: 50px;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;

}
.swiper-slide img {
    display: block;
    width: 500px;
    height: 400px;
    /* object-fit: cover; */
}


.modo-oscuro{
    background-image: url("./img/fondo-oscuro3.jpg");
    background-size: contain;
}

form{
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 50px;
    background-color: red;

}

footer{
    width: 100%;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    width: 100%;
    border-top: solid 1px black;
    margin-top: 10px;
}


#prev, #next{
    width: fit-content;
    height: 40px;
    background-color: transparent;
    border: none;
}

.button-carrito, .remove-carrito{
    width: 50px;
    height: 30px;
    background-color: rgb(201, 233, 255);
    border: solid 1px;
    margin-left: 20PX;

}


#boton-modo-oscuro{
    height: 40px;
    width: fit-content;
    background-color: transparent;
    border: solid black 3px;
    position: relative;
    right: 900px;
}
/* TOGGLE MODO OSCURO */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    right: 900px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #8bc8e4;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #04579b;
}
input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
/* TOGGLE MODO OSCURO */

.modo-oscuro-text{
    font-family: 'Raleway', sans-serif;
    position: relative;
    right: 900px;
    color: #050505;
}

a{
    text-decoration: none;
    color: black;
}

.scrollNavigation{
    font-family: 'Raleway', sans-serif;
    font-weight: bolder;
}

h1{
    font-family: 'Raleway', sans-serif;
    font-size: 64px;
}

h2{
    font-family: 'Raleway', sans-serif;
    font-size: xx-large;  
}

#cat-logo{
    width: 150px;
    height: 200px;
        position: relative;
        right: 250px;
    border: solid;
    border-radius: 20%;
}

.swal2-html-container {
    font-family: 'Raleway', sans-serif;
    font-size: 20px !important;
}

.enlaces{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

.cabecera{
    display: flex;
    justify-content: space-evenly;
}

header{
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
    width: 100%;
    border-bottom: solid 1px black;
}

.rem-all{
    width: fit-content;
    height: 40px;
    border-radius: 5%;
    margin-bottom: 20px;
    color: white;
    font-size: large;
    background-color: rgb(2, 21, 107);
    font-family: 'Raleway', sans-serif;

}